@font-face {
  src: local("ebgaramondmedium"), local("ebgaramondregular"), local("Inter"),
    url(./fonts/ebgaramondmedium.ttf) format("ttf");
  font-family: "ebgaramondmedium";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/ebgaramondmedium.woff) format("woff");
  font-family: "ebgaramondmedium";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/ebgaramondmedium.woff2) format("woff2");
  font-family: "ebgaramondmedium";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/ebgaramondregular.ttf) format("ttf");
  font-family: "ebgaramondregular";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/ebgaramondregular.woff) format("woff");
  font-family: "ebgaramondregular";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/ebgaramondregular.woff2) format("woff2");
  font-family: "ebgaramondregular";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/fonts.css) format("ttf");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/interbold.woff) format("woff");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/interbold.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/interregular.ttf) format("ttf");
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/interregular.woff) format("woff");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/interregular.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
}
